/* Q2.{emrys} how do i add css to the container template?? */
.card .dropdown-toggle:after {transition: all .2s; margin-right:.3rem}
.card .collapsed .dropdown-toggle:after {transform: rotate(180deg)}

.list-group-item {
    color: inherit
}
.list-group-item:before {
    content: "";
    width: 13px;
    height: 13px;
    right: .3rem;
    top: 50%;
    margin-top: -.4rem;
    position: absolute;
    border-radius: 50%;
}
.list-group-item{
    color:#000;
    background-color: transparent!important;
}
.list-group-item-selected{
    background-color: #b8daff!important;
}
.no-underline {
    text-decoration: none !important
}
.animate{
    transition: all .44s ease-in-out;
}
.col-hidden {
    flex-grow: 0;
    width: 0;
    overflow: hidden;
    padding: 0;
}
.col-hidden h2{ padding-left: .95rem}
.wide {
    flex-grow: 1;
    width: 75%;
}
.w-100{
    width: 100%!important;
    max-width: 100%!important;
    flex: 0 0 100%!important;
}
#graph{
    margin-top: -.5rem;
}
#feed-list > li .feed-name,
#feedslist-section.narrow #feed-list > li .feed-name {
    cursor: pointer;
}
/* show feed update status as red,yellow,green circle  - mobile only*/
@media (max-width: 575px) {
    .list-group-item-success:before{
        background-color: #28A745;
    }
    .list-group-item-warning:before{
        background-color: #FFC107;
    }
    .list-group-item-danger:before{
        background-color: #DC3545;
    }
}

/*

.fade-enter-active, .fade-leave-active {
    transition: all .5s; overflow: hidden;
}
.fade-enter, .fade-leave-to {
    opacity: 0; 
}
.fade-enter{background: height: 1px; width: 1px;}
.fade-enter-active{background: black}
.fade-enter-to{background: yellow}
.fade-leave{background: height: 1px; width: 1px;}
.fade-leave-active{background: black}
.fade-leave-to{background: black}

*/
